@import "@/assets/fonts/flaticon/flaticon.css" ;
@import "@/assets/fonts/icofont/icofont.min.css" ;
@import "@/assets/fonts/fontawesome/fontawesome.min.css" ;
@import "@/assets/vendor/venobox/venobox.min.css" ;
@import "@/assets/vendor/slickslider/slick.min.css" ;
@import "@/assets/vendor/niceselect/nice-select.min.css" ;
@import "@/assets/vendor/bootstrap/bootstrap.min.css" ;
@import "@/assets/css/main.css" ;
@import "@/assets/css/home-category.css" ;

/*=======packages css=======*/
@import 'element-plus/dist/index.css';
@import 'nprogress/nprogress.css';
#nprogress .bar{
    background: #ffffff !important;
    padding: 0 10px !important;
    height: 6px !important;
}
#nprogress .spiner .spiner-icon{
    border-top-color: #ffffff !important;
    border-left-color: #ffffff !important;
}


/*=========dashboard css start========*/
@import "@/dashboard/assets/img/favicon.png";

@import "@/dashboard/assets/css/bootstrap.min.css";

@import "@/dashboard/assets/plugins/fontawesome/css/fontawesome.min.css";
@import "@/dashboard/assets/plugins/fontawesome/css/all.min.css";

@import "@/dashboard/assets/css/feather.css";

@import "@/dashboard/assets/plugins/select2/css/select2.min.css";

@import "@/dashboard/assets/plugins/owl-carousel/owl.carousel.min.css";

@import "@/dashboard/assets/plugins/daterangepicker/daterangepicker.css";

@import "@/dashboard/assets/css/style.css";
